.main-content{
    margin: 20px;
}
.content-left{
    width: 30%;
    margin-right: 20px;
    height: 800px;
}
.content-right{
    width: 68%;
    height: 800px;
}
.serach-box input{
    height: 34px;
    width: 85%;
}
.serach-box button{
    width: 15%;
}
.ibox-content{
    clear: inherit;
    float: left;
}
.classroom-list{
    margin-top: 50px;
}
ul,p{
    padding: 0;
    margin: 0;
}
.first-level ul{
    display: none;
}
.first-level p{
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}
.first-level>p{
    font-weight: 700;
}

.active{
    background-color: #ddd;
}
.first-level i{
    float: right;
}
.second-level li:hover{
    background-color: #ccc;
}
.second-level li{
    padding: 5px;
}
.glyphicon-chevron-down{
    display: none;
}
.content-head{
    padding: 0 20px;
    font-weight: 600;
}
.content-head label{
    margin-right: 20px;
}
#lesson,#teacher{
    margin-left: 10px;
}
#hour{
    margin-right: 20px;
}