*{box-sizing:border-box; outline:none;}
body{font-family: "Microsoft YaHei";font-size: 14px; overflow-x:hidden;}
select,input{outline: none;}
label{font-weight:normal; margin: 0;}
.col0{color:#000}
.col3{color:#333}
.col5{color:#555}
.col6{color:#666}
.col9{color:#999}
.colC{color:#ccc}
.colF{color:#fff}
.red{color: #F00}
.blue{color:#355DD5}
.fontS10{font-size:10px}
.fontS12{font-size:12px!important}
.fontS13{font-size:13px}
.fontS14{font-size:14px}
.fontS16{font-size:16px}
.fontS18{font-size:18px}
.fontSS18{font-size:18px}
.fontS20{font-size:20px}
.fontS22{font-size:22px}
.fontS24{font-size:24px}
.fontS26{font-size:26px}
.fontS28{font-size:28px}
.fontS30{font-size:30px}
.fontB{font-weight:bold}
.Fleft{float:left}
.Fright{float:right}
.center{text-align:center}
.right{text-align: right;}
.fontW{font-weight: bold;}
/*.cur{cursor: pointer;}*/

th,td{text-align: center;}

/*margin*/
.marT5{margin-top: 5px;}
.marT10{margin-top: 10px!important;}
.marT15{margin-top: 15px;}
.marT20{margin-top: 20px;}
.marLr_10{margin:0 -10px}
.marB5{margin-bottom: 5px;}
.marB15{margin-bottom: 15px;}
.marB45{margin-bottom: 45px;}
.marL10{margin-left: 10px;}
.marL15{margin-left: 15px;}
.marR10{margin-right: 10px;}
.marR15{margin-right: 15px;}
.marR5{margin-right: 5px;}
.mar5{margin: 5px!important;}
.mar10{margin: 10px!important;}
.mar0{margin:0px}
.marL20{margin-left: 20px;}
.marl5{
	margin-left: 5px;
}
/*padding0*/
.pad0{padding: 0;}
.padL5{padding-left: 5px;}
.padTb5{padding:5px 0}
.padTb10{padding:10px 0}
.padB45{padding-bottom: 45px;}
.pad5{padding:5px;}
.padR0{padding-right: 0px;}
.padL0{padding-left: 0px;}
.padR15{padding-right: 15px;}
.padR5{padding-right: 5px;}
.padL15{padding-left: 10px;}
.padT10{padding-top: 10px;}
.hidden{display: none;}
.foot-bg{background: #066250;}

.return{cursor: pointer;}
.footer{height: 45px;line-height: 45px;background: #09A88A;color: #fff;position: fixed;left: 0;bottom: 0;width:100%;font-size:12px;text-align: center;z-index: 100;}
.footer a:hover{background: #066250;color: #fff;text-decoration: none;}


@media screen and (min-width: 800px) {
	body{font-size: 16px;}
	.fontS12{font-size:14px!important}
	.fontS14{font-size:16px}
	.fontS18{font-size:22px}
	
	.marB5{margin-bottom: 10px;}
	
	.footer{font-size: 18px;}
}
* { margin: 0; padding: 0; list-style: none; outline: none; resize: none; border: none; text-decoration: none; font-family: "microsoft yahei"; }
.clearfix:after { content: ''; display: block; clear: both;}
.clearfix { zoom: 1;}
ol,ul,h1,h2,h3,h4,h5,h6,p,div,span { margin: 0; padding: 0;}
a { text-decoration: none;}
.layui-layer-close { display: none!important;}

.childTitle{color:#fff; font-size:16px; background-color:#1B9CFA; width:100%; height:40px; line-height:40px; font-weight:bold; padding-left:35px;}
.childTitle-right { float: right; margin: 4px 20px; width: 32px; height: 32px; line-height: 32px; text-align: center; cursor: pointer;}

/*html,body{ width: 100%; height: 100%;}*/

 
.sign-bg { position: fixed;left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); z-index: 10; display: none;}

.break {word-wrap: break-word; word-break:break-all;}
.no-data { height: 200px; line-height: 200px; text-align: center; font-size: 18px;}
.page { width: 560px; height: 34px; position: absolute; left: 50%; margin-left: -280px; bottom: 30px; line-height: 32px; color: #000; display: none;}
.page input { float: left;line-height: 32px; background: none; padding: 0 15px; color: #777;cursor: pointer; font-size: 14px; border: 1px solid #ddd; margin-left:-1px ;}
.page .page_last {border-radius:0 4px 4px 0;}
.page .page_first {border-radius:4px 0 0 4px;}
.page div { float: left; width: 210px; position: relative; height: 34px; overflow: hidden; font-size: 14px; margin-left: -1px;}
.page ul { position: absolute; left: 0; top: 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none; user-select: none;}
.page ul li { float: left; width: 42px; text-align: center;cursor: pointer; border: 1px solid #ddd; border-right: none; color: #337ab7;}
.page ul li.active { color: #fff; background: #337ab7; border-color:#337ab7;}

/*.page  { visibility:hidden;}*/


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #ccc; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #ccc; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #ccc; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #ccc; 
} 

			
.my-edit { width: 700px; height: 450px; padding:0 30px; border-radius: 6px; background: #fff; position: relative; display: none; }
.my-edit h3 { text-align: center; line-height: 60px;}
.my-edit .input-group { margin-bottom: 14px;}
#editor { margin: 0 auto; width: 640px; height: 180px;}
.add-fourm { display: block; width: 80px; position: absolute; bottom: 14px; left: 50% ;margin-left:-80px}
.cancel-fourm {margin-left:40px}

.to-addfourm { position: fixed; z-index: 1;bottom: 50px; right: 50px;width: 110px;height: 110px; font-size: 32px;word-break: break-all;white-space: normal}

.to-addfourm2 { float: right; cursor: pointer; text-align: center; padding-right: 10px; }

			

.edui-default .edui-popup .edui-shadow {
    z-index: 9999;
    }


.edit-upload { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;}
