.ibox-title {position: relative;}
.right_btn {position: absolute;right: 20px;top: 10px}
.right_btn input {float: right;padding: 3px 12px;margin-left: 15px;}
.agile_box{border:1px solid #E7EAEC;border-radius:3px;}
.agile_box .agile_tit{height:40px;line-height:40px;border-bottom:1px solid #E7EAEC;text-align:center;font-size:14px;background:#F9F9F9;}
.agile-list{padding-left:5px}
.agile-list li{float:left;margin:5px 10px;padding:6px 8px;background:#fff;position: relative;}
.arrange-go{position:relative;top:5px;padding:0 20px}
.add_student{float: left;margin: 5px 10px;padding: 6px 8px;background: #fff;border:1px dashed #ccc;border-radius:2px;color:#ccc;}

.btn-ccc{background: #EEEEEE;color: #AAAAAA;font-size:14px;padding: 7px 12px;border-radius: 4px;}
.btn-blue{background: #408AFF;color: #fff;font-size:14px;padding: 7px 12px;border-radius: 4px;}
.bor0{border: 0;}
.of{overflow: hidden;}
.bgw{background: #FFF!important;border: 0;}

.time-ok{display: none;}
.preview-selc td{padding: 0!important;}
.preview-selc select{background: #f5f5f5;border:0;cursor: pointer;}

#file_span{position:absolute;top:0;left:15px;display:inline-block;cursor:pointer;}
#group_file,#arrange_file{width:180px;height:34px;opacity:0;cursor:pointer;}
#arrange_file{width:138px;}


.time-ok{display: none;}
.preview-selc td{padding: 0!important;}
.preview-selc select{background: #f5f5f5;border:0;cursor: pointer;}

.time_ok{display: none;}
.preview-selc th{padding: 0!important;}
.preview-selc select{background: #fff!important;border:0;cursor: pointer;}
.preview-table tr td{padding: 0!important;}
.colr{color:#ED5565}
.align_left{text-align: left;}
.modal-footer{padding-top: 0;}
.modal-footer .ok{margin-left: 110px;padding:6px 25px}
.student_left{float:left;width:100px;}

.del_student{display:none;position: absolute;top:-4px;right:-6px;width:16px;height:16px;line-height:16px;text-align:center;color:#fff;border-radius:50%;background:#999;}

.right_marr20{float: right;margin-right: 20px;}
.pad0{padding: 0px;}

.sorting_asc{background:url(../images/sort_asc.png) no-repeat center right}

