.user_tx{ position: relative; height:auto;}
.user_tx .user_bg{  width: 100%;}
.user_tx .user_bg img{width: 100%; height: auto;}
.user_tx .tx_img{ position: absolute;z-index: 11; left: 40%;top:20%;
   margin: 0 auto;border-radius:50%;}
.user_tx .tx_img img{  width:75px; height:75px;
    border-radius:50%; box-shadow: #fff 0px 0px 11px 4px;}
.user_tx p{ color: #fff;text-align: center; line-height: 40px; font-size: 16px;}

.nav_list{ position: relative;}
.manage_list{width:100%;margin-top:10px;overflow:hidden;background:#fff;border-bottom:1px solid #DCE0E4}
.manage_list li{border:none}
.manage_list li{height:44px;line-height:44px;}
.manage_list li a{color:#333;font-size:16px}
.manage_list li p{display:block;width:95%; margin:0 auto;border-bottom:1px solid #dce0e4;}
.manage_list li p span{ float: right;margin:0px 5px 0 0; color: #a2a2a2;}
.manage_list li:last-child span{border:none}
.manage_list li span{float:left;display:block;width:75%;text-align: right;}

.i_right{float:right;margin:8px 0px 0 0;font-size:26px;color:#ccc;}