.phone_icon{ text-align: center;}

.phone_icon p{ text-align: center; line-height:50px; font-size: 16px;}

.add_main .submit_box{top:60px; width: 30%;}
.add_main .ipt_huoqu{float:right;padding:0 10px;margin-top:2px;text-align:center;
    height:36px;line-height:36px;padding:0;background:#69ccbb;color:#fff; border: none;}
.add_main .ipt_huoqu.ipt_disabled{color:#fff;background:#C9C9C9}
.btn-submit{width: 96%; margin:20px auto 0;}
.btn-submit .btn{background:#6595E1; width: 100%; color: #fff;}
#phone_number{width:100%;padding-left:3%;}
.form-group input{padding-left: 3%;}