.table-head-style1{ background: #434a54;margin: 0; border-radius: 6px 6px 0 0; padding: 6px 0; }
.selected-all{ color: #fff; font-size: 14px;;padding: 0 20px;line-height: 30px }
.input-group-btn{ height: 30px;}
.test1{ background: #fff;color: #1b7a8b;}
.table thead th{ font-size: 14px;}
.btn_pl{height:30px;min-width:80px;line-height: 16px;}

.table .state1{ color:#408aff;}
.table .state2{ color:#ed5565;}
.table .state3{ color:#21b9bb;}

.modal .modal-dialog{ margin-top:10%;}
.modal-body textarea{ margin-top: 10px; height: 200px; }

/*É¸Ñ¡Ìõ¼þbutton*/
#Screening .form-group {width: 220px; float: left;}
#Screening .control-label{ float: left; width:80px;line-height:34px;height: 34px;
    border:1px solid #e5e6e7; border-right:none; text-align: center;  }
#Screening .select_detail{ width: 120px;float: left; }

#Screening .laydate-icon, .laydate-icon-default, .laydate-icon-danlan, .laydate-icon-dahong, .laydate-icon-molv
{ height: 34px;}

/*资源详情*/
#sourceForm .form-group a{text-decoration: none;}