@charset "utf-8";
/* CSS Document */


/* nav延生样式*/

/*nav设置*/

.manage_list li:last-child span{border:none}
.manage_list li .icon{float:left;width:15%;height:44px;background:url("../img/icons_1.png") no-repeat;background-size:28px;}
.manage_list li .icon1{background-position:center 10px}
.manage_list li .icon2{background-position:center -30px}
.manage_list li .icon3{background-position:center -68px}
.manage_list li .icon4{background-position:center -104px}
.manage_list li .icon5{background-position:center -141px}
.manage_list li .icon6{background-position:center -180px}
.i_right{float:right;margin:10px 15px 0 0;font-size:26px;color:#ccc;}




.nav_list{ position: relative;}
.manage_list{width:100%;margin-top:10px;overflow:hidden;background:#fff;border-bottom:1px solid #DCE0E4}
.manage_list li:last-child{border:none}
.manage_list li{height:44px;line-height:44px;border-bottom:1px solid #dce0e4}
.manage_list li a{color:#333;font-size:16px}
.manage_list li span{float:left;display:block;width:85%;}
.manage_list li:last-child span{border:none}
.manage_list li .icons{float:left;width:15%;height:24px;margin-top:10px;background:url("../img/icons_3.png") no-repeat;background-size:24px;}
.manage_list li .icon7{background-position:center 0px}
.manage_list li .icon8{background-position:center -36px}
.manage_list li .icon9{background-position:center -81px}




.manage_list li .icons2{float:left;width:15%;height:24px;margin-top:10px;background:url("../img/icons_2.png") no-repeat;background-size:24px;}
.manage_list li .icon10{background-position:center -84px}
.manage_list li .icon11{background-position:center -112px}
.manage_list li .icon12{background-position:center 0}
.manage_list li .icon13{background-position:center -28px}
.manage_list li .icon14{background-position:center -56px}

.manage_list li .icons3{float:left;width:15%;height:24px;margin-top:10px;background:url("../img/icons3.png") no-repeat;background-size:24px;}
.manage_list li .icon15{background-position:center -4px}
.manage_list li .icon16{background-position:center -32px}

.manage_list li .icons4{float:left;width:15%;height:24px;margin-top:10px;background:url("../img/icons_4.png") no-repeat;background-size:24px;}
.manage_list li .icon17{background-position:center -0px}
.manage_list li .icon18{background-position:center -38px}

.i_right{float:right;margin:10px 15px 0 0;font-size:26px;color:#ccc;}