/*预约实验室-确认使用申请表*/
#now_borrow .submit_box{
    width: 15%;
    min-width:100px;
    position: absolute;
    bottom:-14px;
    right: 3%;
}

/*我的预约*/
#mybooking{
    background-color: #fff; overflow: hidden;
    height: 38px; line-height: 36px;
}
#mybooking  ul li{ width: 33.33%; float: left; text-align: center; border-bottom:2px solid #DCE0E4; }
#mybooking  ul .check{border-bottom:2px solid #408aff;}
#borrow_attention  .submit_box{
    width: 20%;
    max-width:120px;
    position: absolute;
    bottom:32px;
    right: 3%;
}

/*预约实验室，时段申请*/
.all_list .w_30{ text-align: center;}