.table-head-style1{ background: #434a54;margin: 0; border-radius: 6px 6px 0 0; padding: 6px 0; }
.selected-all{ color: #fff; font-size: 14px;;padding: 0 20px;line-height: 30px }
.input-group-btn{ height: 30px;}
.test1{ background: #fff;color: #1b7a8b;}
.table thead th{ font-size: 14px;}
.btn_pl{height:30px;min-width:80px;line-height: 16px;}

.table .state1{ color:#408aff;}
.table .state2{ color:#ed5565;}
.table .state3{ color:#21b9bb;}

.modal .modal-dialog{ margin-top:10%;}
.modal-body textarea{ margin-top: 10px; height: 200px; }

.hr-line-dashed{margin: 0 0 20px 0;}