li{list-style:none}
img,input{vertical-align:middle}
table{border-collapse:collapse;empty-cells:show}
a:link,a:visited{text-decoration:none;cursor:pointer}
a:link:hover{text-decoration:underline}
.lineu{text-decoration:line-through}
.nou,a.nou,a.nou:hover{text-decoration:none}
a{-webkit-touch-callout:none;}
input[type="text"],input[type="password"],input[type="button"],input[type="submit"],textarea{box-shadow:none!important;-webkit-box-shadow:none!important;-webkit-appearance: none;}
li{list-style:none}
img,input{vertical-align:middle}
table{border-collapse:collapse;empty-cells:show}
a:link,a:visited{text-decoration:none;cursor:pointer}
a:link:hover{text-decoration:underline}
.lineu{text-decoration:line-through}
.nou,a.nou,a.nou:hover{text-decoration:none}
a{-webkit-touch-callout:none;}
.cur{cursor: pointer;}
.clo0{color:#000}
.clo3{color:#333}
.clo5{color:#555}
.clo6{color:#666}
.clo9{color:#999}
.cloc{color:#ccc}
.clof{color:#fff}
.red{color:#e22}
.font10{font-size:10px}
.font12{font-size:12px!important}
.font13{font-size:13px}
.font14{font-size:14px}
.font16{font-size:16px}
.font18{font-size:18px}
.font20{font-size:20px}
.font24{font-size:24px}
.font26{font-size:26px}
.fontb{font-weight:bold}
.left{float:left}
.right{float:right}
.center{text-align:center}
.hide{display:none}
.ablock{display:block;width:100%;height:100%}
.txta_l{text-align: left;}
.txta_r{text-align: right;}
.overflow{overflow: hidden;}

/*width*/
.w_90{width:90%;margin:0 auto; }
.w_92{width:92%;margin:0 auto; }
.w_94{width:94%;margin:0 auto; }
.w_96{width:96%;margin:0 auto; }
.w_98{width:98%;margin:0 auto; }
/*margin*/
.mart_3{margin-top:0.3em}
.mart_5{margin-top:0.5em}
.mart_8{margin-top:0.8em}
.mart_10{margin-top:1em}
.mart_15{margin-top:1.5em}
.mart_20{margin-top:2em}
.marb_5{margin-bottom:0.5em}
.marb_8{margin-bottom:0.8em}
.marb_10{margin-bottom:1em}
.marb_15{margin-bottom:1.5em}
.marb_25{margin-bottom: 25px}
.marr_5{margin-right:0.5em}
.marl_10{margin-right:1em}
.marl_5{margin-left:0.5em}
.marl_10{margin-left:1em}
.marr_15{margin-right: 15px}
.marr_25{margin-right: 25px}
.mart2_7{margin-top:-7px}

/*padding*/
.padt_5{padding-top:0.5em}
.padt_8{padding-top:0.8em}
.padt_10{padding-top:1em}
.padt_20{padding-top:2em}
.padb_5{padding-bottom:0.5em}
.padb_8{padding-bottom:0.8em}
.padb_10{padding-bottom:1em}
.padt_7{padding-top: 7px;}

/*�����������*/
.clearfix{zoom:1}
.clearfix:after{display:block; content:'.'; clear:both; line-height:0; visibility:hidden}
.tbl_type{display:table;width:100%}
.tbl_cell{display:table-cell;position:relative;vertical-align:top}
.tbl_cell img{vertical-align:middle}

#QuickNav{height:35px;margin:0;position:absolute;left:80px;bottom:0;overflow:hidden}
#QuickNav li{float:left;height:35px;line-height:35px;overflow:hidden;margin-right:10px;border:1px solid #a0c5ff;border-width:1px 1px 0 1px;border-radius:4px 4px 0 0;position:relative}
#QuickNav li a{color:#fff;background:#72a9ff;padding:0 25px 0 15px}
#QuickNav li i{display:inline-block;font-size:14px;position:absolute;right:8px;top:10px;cursor:pointer}
#QuickNav li.tag{position:relative;bottom:-1px;}
#QuickNav li.tag a{background:#fff;color:#333;}

.check_label{position:relative}
.check_icon{width:16px;height:16px;background:url("../images/green.png") no-repeat;background-size:auto 16px}
.check_label:hover .check_icon,.check_icon.hover{background-position:-16px 0}
.check_icon.check{background-position:-32px 0}
.check_label:hover .check_icon.check{background-position:-32px 0}
.check_label input{position:absolute;left:-2220px;top:0;opacity: 0}


/*性别分类*/
.course_student_type{overflow: hidden;}
.radio_box{width:100%;height:20px;color:#333;margin: 5px 0;}
.radio_label{position:relative;width:100px;}
.radio_label .left{color:#333;}
.radio_icon{width:16px;height:16px;margin:2px 5px;background:url("../images/green.png") no-repeat;background-size:100% auto; background-position:0 0}
.radio_icon.check{background-position:0 -21px}
.radio_label input{position:absolute;left:-999px;top:0;opacity:0}

/**
 * 按钮颜色
 */
.btn{
    padding: 7px 20px;
   margin-right: 10px;
}
.btn-primary{
    background-color: #16beb0;
    border-color: #16beb0;
}
.btn-primary:focus{background-color:#1ab394;border-color:#1ab394;}
.btn-primary:hover{background-color: #42b2b1;border-color: #42b2b1}
.btn-primary.active,.btn-primary:active,.btn-primary:hover,.open .dropdown-toggle.btn-primary{background-color:#42b2b1;border-color:#42b2b1;color:#FFF}

.btn-default{background-color: #fff;border-color: #ccc;color: #333;}
.btn-default2{background-color: #fff;border-color: #ccc;color: #9c9c9c;}
a.btn:hover {text-decoration: none;}




.has-error .form-control{border-color: #ed5565!important;}

.btn-primary[disabled]{background:#eee;color:#aaa;border:1px solid #aaa;}
/*�����޸�layerЧ��*/
.modal-title{color: #408aff; font-size: 16px;}
.btn-success{background-color: #408aff;}
.modal-header .close { background-color: #9bc1fd; width: 20px;height: 20px; border-radius:10px;}

/*�����޸�layer_dateЧ��*/

.laydate-icon,
.laydate-icon-default,
.laydate-icon-danlan,
.laydate-icon-dahong,
.laydate-icon-molv{height: 30px;}

/*table*/
.opera  span{ padding: 0 5px; cursor: pointer;}
.table-head-style1{ background: #fff;margin: 0; border-radius: 6px 6px 0 0; padding: 6px 0; }
.selected-all{ color: #fff; font-size: 14px;;padding: 0 20px;line-height: 30px }
.input-group-btn{ height: 30px;}
.test1{ background: #fff;color: #1b7a8b;}
.table thead th{ font-size: 14px;}
.btn-link{height:30px;min-width:80px;line-height: 16px; color: #fff;}
.opera  span{ padding: 0 5px; cursor: pointer;}
.table tbody td a{margin: 0 10px;}
.table tbody td a:first-child{margin-left: 0;}
/**
 * 表格状态
 */
.table a .state1{ color:#1ab394;}
.table a .state2{ color:#ed5565;}
.table a .state3{ color:#21b9bb;}
.table a .state4{ color:#c2c2c2;}
.table .state1{ color:#1ab394;}
.table .state2{ color:#ed5565;}
.table .state3{ color:#21b9bb;}
.table .state4{ color:#c2c2c2;}




.control-label{ font-size: 14px;}
/**
 * 页面标识
 */
.title-label{
    display: inline-block;
    font-size: 14px;
    margin-top:11px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.table-head-style1{
    border-radius: 0;
    border-top: 4px solid #e7eaec;
}


/*轮播图效果*/
.scroll_image{ width: 100%; position: relative;}
.swiper-container{width:100%;height:100%;}
.swiper-slide{text-align:center;font-size:18px;background:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;}
.swiper-slide img{width: 100%;}
.wrapper img{width:100%;height:180px;}
.swiper-pagination{ bottom: 0; left:50%; margin-left:-20px;}
.swiper-pagination span{margin:0 0.2em 0 0 }

.images_upload{display:inline-block;height:180px;border:1px dashed #ccc;cursor:pointer;background:url(../images/add_img.png) no-repeat center;text-align: center;}
.images_upload input{width:100%;height:100%;opacity:0;cursor:pointer;}
/*上传图片按钮样式*/
.images_upload1{
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
}
.images_upload1 input{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.img_box{overflow:hidden;padding:0;text-align: center}
.img_box img{
    height: inherit;
}
.img_box li{width:100%;margin:0 10px 10px 0;position: relative;}
.img_box li .del_img{background:rgba(255,255,255,.5);position:absolute;right:10px;top:10px;width:20px;cursor:pointer;height:20px;line-height:18px;text-align:center;border-radius:50%;}
.img_box li .del_img:hover{background:rgba(255,255,255,1);}
/*当前路径*/
.route-active{
    font-weight: 700;
}

/**
 * 弹出提示样式
 */
body .layer-ext-moon .layui-layer-btn .layui-layer-btn0 {
    background: #ed5565!important;
    border: 1px solid #ed5565!important;
}
body .layer-ext-moon .layui-layer-btn a {border: 1px solid #1ab394;}
.fa-2x{font-size: 16px;}

/*描述超出显示省略号*/
.description{
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*tabs下部距离*/
.panel.blank-panel>.panel-heading{margin-bottom: 20px!important;}
.ibox.float-e-margins>.ibox-content{padding-top: 18px!important;}

.panel-options .nav.nav-tabs{
    margin-left: 0;
}
/*输入框左侧文字*/
.control-label{
    padding-right: 5px;
}
.panel-heading {
    padding: 10px 0;
}
/*layer alert*/
.layui-layer-title{
    background: #fff!important;
    color: #ed5565!important;
    font-size: 16px!important;
}
.layui-layer-btn {
    background: #fff !important;
    border-top: 1px #fff solid !important;
}
/*公用页码样式调整*/
.pagination{
    margin: 0!important;
}
/*总条数*/
.pull-left{
    line-height: 34px;
}
/*教师下方间隔*/
.teacher-tabs{
    margin-bottom: 20px;
}

/*操作居右*/
table tbody tr td:last-child{width: 120px;}
/*错误提示*/
.msg-error{
    background: #f2dede!important;
    color: #a94442;
    border-color: #ebccd1!important;
}
.msg-error i {
    display: inline-block;
    height: 32px!important;
    width: 32px!important;
    background:url('../plugins/js/plugins/layer/skin/default/icon.png') no-repeat -192px 0!important;
}
/*成功导入*/
.msg-success{
    color: #3c763d;
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
}
.msg-success i {
    display: inline-block;
    height: 32px!important;
    width: 32px!important;
    background:url('../plugins/js/plugins/layer/skin/default/icon.png') no-repeat -224px 0!important;
}